{{# <article>
  {{ content | widont }}
</article> #}}
<figure class="mb-6 md:mb-8">
  <img src="/assets/media/visual-1.jpg" class="w-full aspect-[16/10] shadow-4xl" width="1600" height="900">
</figure>

<article class="mb-6 sm:mb-8 md:mb-12">
  <h1>Willkommen</h1>
  <p class="font-capitalized uppercase">Die Rebobau AG kann auf gut 30 Jahre Erfahrung zurückblicken. In dieser Zeit sind in Zusammenarbeit mit unseren Architekten-Teams und Profi-Bauherren unzählige Bauprojekte realisiert worden - von der Planung bis zur erfolgreichen Realisation. Ob Einfamilienhaus, Mehrfamilienhaus, Industrie- oder Gewerbegebäude - wir begleiten Sie als Partner mit innovativen Lösungen, einer umsichtigen Bauleitung, Planung und Ausführung bei Ihrem Bauvorhaben. Dabei stehen Wirtschaftlichkeit, Nachhaltigkeit und Vertrauen an oberster Stelle.</p>
</article>

<div class="sm:gap-6 md:gap-8 sm:columns-2 mb-6 sm:mb-8 md:mb-12">
  <figure class="mb-6 md:mb-0">
    <img src="/assets/media/visual-2.jpg" class="w-full aspect-[16/10] shadow-4xl" width="1600" height="900">
  </figure>
  <figure>
    <img src="/assets/media/visual-3.jpg" class="w-full aspect-[16/10] shadow-4xl" width="1600" height="900">
  </figure>
</div>

<article class="mb-6 sm:mb-8 md:mb-12">
  <h2>Erfahren, Spezialisiert, Lösungsorientiert</h2>
  <p>Wir sind diplomierte Bauleiter mit langjähriger Tätigkeit und Erfahrung in den Bereichen:</p>
  <ul>
    <li>Einfamilienhaus</li>
    <li>Mehrfamilienhaus</li>
    <li>Pflegezentren</li>
    <li>Kindertagesstätte
    <li>Treibhaus</li>
    <li>Denkmalschutz</li>
    <li>Umbau, Anbau und Sanierung von bestehenden Immobilien</li>
  </ul>

  <p>Die REBOBAU AG begleitet Sie als Partner auf dem Weg vom Beginn bis zur Umsetzung. Dabei spielt es keine Rolle, ob es sich bei den zu optimierenden Gebäuden und Einrichtungen um bestehende Anlagen handelt oder um ein neues Bauvorhaben.</p>
  <p>Im Vordergrund stehen immer Ihre Bedürfnisse.</p>
</article>
