<nav class="menu fixed top-0 left-0 bg-white opacity-0 z-[-1] transition-none md:relative md:top-[5px] md:opacity-100 md:z-100 md:order-1 group" data-js="menu">
  <div class="flex justify-center items-center md:items-end h-[inherit] md:h-auto">
    <ul class="md:flex">
      {{ partial:menu/main-item text="Dienstleistungen" }}
      {{ partial:menu/main-item text="Referenzen" }}
      {{ partial:menu/main-item text="Über uns" }}
      {{ partial:menu/main-item text="Kontakt" }}
    </ul>
  </div>
</nav>