

{{ partial:images/hero :image="hero" :caption="hero:alt" }}

{{ partial:layout/article }}

  <h1 class="!text-xl md:!text-2xl lg:!text-3xl !mb-1 md:!mb-2">{{ title }}</h1>

  <p class="font-capitalized uppercase">{{ subtitle }}</p>
  
  {{ collection:next in="references" as="reference" limit="1" sort="order" }}
  
    {{ reference }}
      <div class="post">
        <a href="{{ url }}">{{ title }}</a>
      </div>
    {{ /reference }}
  
  {{ /collection:next }}


  {{ collection:previous in="references" as="reference" limit="1" sort="order" }}
  

    {{ reference }}
      <div class="post">
        <a href="{{ url }}">{{ title }}</a>
      </div>
    {{ /reference }}
  
  {{ /collection:previous }}


{{ /partial:layout/article }}